!!! XML
%ItemLookupResponse{:xmlns=>"http://webservices.amazon.com/AWSECommerceService/2009-07-01"}
  %Items
    %Item
      %ASIN= h @data[:isbn10]
      %DetailPageURL= h @data[:url]
      %ImageSets
        %ImageSet{:Category=>"primary"}
          %LargeImage
            %URL= h @data[:image_url]
      %ItemAttributes
        -@data[:authors].each do |author|
          %Author= h author
        %EAN= h @data[:isbn13]
        %Feature= h "ISBN13: #{@data[:isbn13]}"
        %ISBN= h @data[:isbn10]
        %Binding= h @data[:binding]
        %ListPrice
          %FormattedPrice= h "$#{@data[:price]}"
        %ProductGroup Book
        %PublicationDate= h @data[:publication_date]
        %Publisher= h @data[:publisher]
        %Title= h "#{@data[:title]} #{@data[:volume]}"
